Control Statements-

for loop

while loop

Conditional statements-

if

else

elif

break

continue

#for loop->
Syntax- for [var] in range(s_p,e_p):

In [ ]:
for i in range(11,21):
  print(i)

11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(11,21):
  print('Good Morning')

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

In [ ]:
for i in range(11,21):
   print(i+10)

21
22
23
24
25
26
27
28
29
30

In [ ]:
for i in range(5):
  pass #it just be silent

In [ ]:
for i in range(5):
  print(f'Values is {i}')

Values is 0
Values is 1
Values is 2
Values is 3
Values is 4

In [ ]:
for i in range(1,11):
  print(f'{i}')

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i,end='')

12345678910

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,11):
  print(i,end='->')

1->2->3->4->5->6->7->8->9->10->

In [ ]:
for i in range(1,11):
  print(i,end='.')

1.2.3.4.5.6.7.8.9.10.

In [ ]:
for i in range(1,11):
  print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

**if** -condition

In [ ]:
money=20000
iphone=50000
if money>iphone:
  print('I will buy iphone')#it wont print anything it will be silent

In [ ]:
money=20000
iphone=50000
if money>iphone:
  print('I will buy iphone')
else:
  print('I will not buy an iphone')

I will not buy an iphone

In [ ]:
money=20000
iphone=50000
if money<iphone:
  print('I will buy iphone')
else:
  print('I will not buy an iphone')

I will buy iphone

In [ ]:
money=20000
iphone=50000
samsung=25000
vivo=15000
if money>iphone:
  print('I will buy iphone')
elif money>samsung:
  print('i will buy samsung')
elif money>vivo:
  print('i will buy vivo')
else:
  print('i wont buy any phone')

i will buy vivo

In [ ]:
money=200000
iphone=50000
samsung=25000
vivo=15000
if money>iphone:
  print('I will buy iphone')
elif money>samsung:
  print('i will buy samsung')
elif money>vivo:
  print('i will buy vivo')
else:
  print('i wont buy any phone')

I will buy iphone

In [ ]:
money=200000
iphone=500000
samsung=25000
vivo=15000
if money>iphone:
  print('I will buy iphone')
elif money>samsung:
  print('i will buy samsung')
elif money>vivo:
  print('i will buy vivo')
else:
  print('i wont buy any phone')

i will buy samsung

In [ ]:
money=200
iphone=5000
samsung=25000
vivo=15000
if money>iphone:
  print('I will buy iphone')
elif money>samsung:
  print('i will buy samsung')
elif money>vivo:
  print('i will buy vivo')
else:
  print('i do not have enough money')

i do not have enough money

In [ ]:
#even values from 11 to 20
for i in range(11,21):
  if i%2==0:
    print(f'even values: {i}')

even values: 12
even values: 14
even values: 16
even values: 18
even values: 20

In [ ]:
for i in range(11,21):
  if i%2!=0:
    print(f'odd value:{i}')

odd value:11
odd value:13
odd value:15
odd value:17
odd value:19

In [ ]:
#PERFECT NUMBER
n=6
res=0
for i in range(1,n):
  if n%i==0:
    res=res+i
print(res)

6

In [ ]:
#PERFECT NUMBER
n=6
res=0
for i in range(1,n):
  if n%i==0:
    res=res+i
if n==res:
  print(f'{n } is a perfect number')
else:
  print(f'{n } is not a perfect number')

6 is a perfect number

In [ ]:
#PERFECT NUMBER
n=8
res=0
for i in range(1,n):
  if n%i==0:
    res=res+i
if n==res:
  print(f'{n } is a perfect number')
else:
  print(f'{n } is not a perfect number')

8 is not a perfect number

In [ ]:
#break
for i in range(11,21):
  print(i)
  if i==13:
    break

11
12
13

In [ ]:
#break
for i in range(11,21):
  print(i)
  if i==17:
    break

11
12
13
14
15
16
17

**While loop**

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#continue
for i in range(11,17):
  #print(i)
  if i==13:
    continue
  print(i)

11
12
14
15
16

In [ ]:
a=1
while a<=20:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
n=12
res=0
for i in range(1,n):
  if n%i==0:
    res=res+i
if n==res:
  print(f'{n} is perfect num')
else:
  print(f'{n} is not perfect num')

12 is not perfect num

In [ ]:
for i in range(11,21):
  print(i)
  if i==15:
    break

11
12
13
14
15

In [ ]:
for i in range(11,21):
  if i==16:
    continue
  print(i)

11
12
13
14
15
17
18
19
20

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Write the **forloop** for

string|list|tuple|sets|dict

In [ ]:
#string
a='data'
for i in a:
  print(i)

d
a
t
a

In [ ]:
a='data'
for i in a:
  print(i,end='')

data

In [ ]:
a='data'
for i in a:
  print(i,ord(i))

d 100
a 97
t 116
a 97

In [ ]:
#list
b=[10,20,30,40]
for i in b:
  print(i+10)

20
30
40
50

In [ ]:
#tuple
a=(10,20,30,40)
for i in a:
  print(i+10)

20
30
40
50

In [ ]:
#sets->it prints randomly
a={10,20,30,40}
for i in a:
  print(i+10)

50
20
30
40

In [ ]:
#dict
#here it collects only keys it wont pick values
a={'apple':100,'carrot':200,'banana':300}
for i in a:
  print(i)

apple
carrot
banana

In [ ]:
#dict
#to pick values we need to write a[i]
a={'apple':100,'carrot':200,'banana':300}
for i in a:
  print(i)
  print(a[i])

apple
100
carrot
200
banana
300

In [ ]:
#factorial of a given num
n=5
res=1

for i in range(1,n+1):
  res=res*i
print(res)

120

In [ ]:
#find the sum of digits
n=567
res=0
b=str(n)
for i in b:
  res=res+int(i)
print(res)

18

In [ ]:
n=567
res=0
b=str(n)
for i in b:
  res=res+int(i)
print(res)

18

In [ ]:
#find the num of values in the list without using len
a=[10,20,30,40,100,200]
r=0
for i in a:
  r=r+1
print(r)

6

In [ ]:
a=[10,20,30,40,50]
r=0
for i in a:
  r=r+1
print(r)

5

In [ ]:
for i in range(11,16):
  for j in range(21,26):
    print(i+j)
  print()

32
33
34
35
36

33
34
35
36
37

34
35
36
37
38

35
36
37
38
39

36
37
38
39
40

In [ ]:
for i in range(11,16):
  for j in range(21,26):
    print(i+j, end=' ')
  print()

32 33 34 35 36
33 34 35 36 37
34 35 36 37 38
35 36 37 38 39
36 37 38 39 40

In [ ]:
for i in range(5):
  for j in range(5):
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#find given num is palindrome or not
n=121
b=str(n)
print(f'value in b:{b}')
c=b[::-1]
print(f'value in c:{c}')
if b==c:
  print(f'palindrome:{n}')
else:
  print(f'not palindrome:{n}')

value in b:121
value in c:121
palindrome:121

In [ ]:
#find given num is palindrome or not
n=123
b=str(n)
print(f'value in b:{b}')
c=b[::-1]
print(f'value in c:{c}')
if b==c:
  print(f'palindrome:{n}')
else:
  print(f'not palindrome:{n}')

value in b:123
value in c:321
not palindrome:123

In [ ]:
n=121
temp=n
r=0
while n>0:
  f=n%10
  r=(r*10)+f
  n=n//10
print(f'value in r:{r}')
if temp==r:
  print(f'palindrome:{temp}')
else:
  print(f'not palindrome:{temp}')

value in r:121
palindrome:121

In [ ]:
n=121
temp=n
rev=0
while n>0:
  f=n%10
  rev=(rev*10)+f
  n=n//10
print(f'value of r:{r}')
if temp==r:
  print(f'palindrome:{temp}')
else:
  print(f'not palindrome:{temp}')

value of r:121
palindrome:121

In [ ]:
#armstrong num
n=153
temp=n
r=0
while n>0:
  f=n%10
  r=r+(f*f*f)
  n=n//10
print(f'value of r:{r}')
if temp==r:
  print(f'armstrong:{temp}')
else:
  print(f'not armstrong:{temp}')

value of r:153
armstrong:153

In [ ]:
#fibonacci series
n=5
a=0
b=1
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

0
1
1
2
3

In [ ]:
n=8
a=0
b=1
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

0
1
1
2
3
5
8
13

In [ ]:
n=123
r=0
b=str(n)
for i in b:
  r=r+int(i)
print(r)

6

In [ ]:
for i in range(11,16):
  for j in range(21,26):
    print(i,j)
  print()

11 21
11 22
11 23
11 24
11 25

12 21
12 22
12 23
12 24
12 25

13 21
13 22
13 23
13 24
13 25

14 21
14 22
14 23
14 24
14 25

15 21
15 22
15 23
15 24
15 25

In [ ]:
n=5
r=2

for i in range(5):
  print(i*r,end=' ')

0 2 4 6 8

In [ ]:
n=5
r=3

for i in range(5):
  print(i*r,end=' ')

0 3 6 9 12

In [ ]:
#prime number
n=7
c=0
for i in range(1,n+1):
  if n%i==0:
    c=c+1
if c==2:
  print(f'{n} is a prime number')
else:
  print(f'{n} is not a prime number')

7 is a prime number

In [ ]:
for i in range(1,6):
  print(i,end=i*'.')
  print()

1.
2..
3...
4....
5.....

In [ ]:
for i in range(1,6):
  print(i,end=i*'.')

1.2..3...4....5.....

In [ ]:
a=[7,3,3,7,5,1,3,2,4,2]

even_based=a[1::2]

odd_based=a[::2]

print(f'Even_based:{even_based}')

print(f'Odd_based:{odd_based}')
c=0
d=0
for i in range(5):
  c= c+even_based[i]
  d= d+odd_based[i]
print(c)
print(d)

Even_based:[3, 7, 1, 2, 2]
Odd_based:[7, 3, 5, 3, 4]
15
22

In [ ]:
#Advanced Questions
#from the values 12 to 50 print the values that divide by 3 and 5
c=[]
for i in range(12,51):
  if i%3==0 and i%5==0:
    c.append(i)
print(c)

[15, 30, 45]

In [ ]:
for i in range(1,101):
  if i%2==0 and i%4==0:
    print(i,end=' ')

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100

In [ ]:
#atai
a=[[12.55,10,'data science',45],[10,1,5.5,'python']]
res=0
for i in a:
  for j in i:
    if type(j)==int:
      res=res+j
print(res)

66

In [ ]:
a=[[12.55,10,'data science',45],[10,1,5.5,'python']]
res=0
for i in a:
  for j in i:
    if type(j)==int:
      res=res+j
print(res)

66

In [ ]:
a='sharuk khan'
f={}
for i in a:
  if i not in f:
    f[i]=1
  else:
    f[i]=f[i]+1
print(f)

{'s': 1, 'h': 2, 'a': 2, 'r': 1, 'u': 1, 'k': 2, ' ': 1, 'n': 1}

In [ ]:
a='sai krupa'
f={}
for i in a:
  if i not in f:
    f[i]=1
  else:
    f[i]=f[i]+1
print(f)

{'s': 1, 'a': 2, 'i': 1, ' ': 1, 'k': 1, 'r': 1, 'u': 1, 'p': 1}

In [ ]:
a='aeroplane12345'
res=0
for i in a:
  if i.isalpha():
    res=res+1
print(res)

9

In [ ]:
a='aeroplane12345'
res=0
for i in a:
  if i.isnumeric():
    res=res+1
print(res)

5

In [ ]:
a='aeroplane12345'
res=0
for i in a:
  if i.isnumeric():
    res=res+1
print(res)

5

In [ ]:
a=[7,3,3,7,5,1,3,2,4,2]

even_based=a[1::2]
odd_based=a[::2]

print(f'Even:{even_based}')
print(f'Odd:{odd_based}')

c=0
d=0
for i in range(5):
  c=c+even_based[i]
  d=d+odd_based[i]
print(c)
print(d)

Even:[3, 7, 1, 2, 2]
Odd:[7, 3, 5, 3, 4]
15
22

In [ ]:
n=10
r=2
for i in range(n):
  print(i*r,end=' ')

0 2 4 6 8 10 12 14 16 18

In [ ]:
n=5
r=3
for i in range(n):
  print(i*r,end=' ')

0 3 6 9 12

In [ ]:
for i in range(1,6):
  print(i,end=i*'.')

1.2..3...4....5.....

In [ ]:
a='kamal'
t=''
for i in a:
  t=i+t
print(t)

lamak

In [ ]:
a='dell'
t=''
for i in a:
  t= i+t
print(t)

lled

In [ ]:
#prime number
n=7
c=0
for i in range(1,n+1):
  if n%i==0:
    c=c+1
if c==2:
  print(f'{n} is a prime')
else:
  print(f'{n} is not prime')

7 is a prime

In [ ]:
n=5
c=0
for i in range(1,n+1):
  if n%i==0:
    c=c+1
if c==2:
  print(f'{n} is prime')

5 is prime