##Dictionary - Dictionary is the only one which is used to prepare the structured data but not to show the data.

## Dictionary will be represented with-{}
###Even sets are also represented with->**{}** but dict is represented with **key_value** pair where key will be column name and value will be column values

{}-> what ever we write in flower braces it becomes **set**

{}-> but if we write key_value pair then it is dictionary


##key-> column name
## value-> Data inside the column

In [ ]:
a={'Age':30,'Loc':'Chennai','Salary':1200}
print(a)
print(type(a))

{'Age': 30, 'Loc': 'Chennai', 'Salary': 1200}
<class 'dict'>

In [ ]:
a={'age':[30,40,50],'loc':['chennai','banglore','hyd'],'salary':[1200,1800,2200]}
print(a)

{'age': [30, 40, 50], 'loc': ['chennai', 'banglore', 'hyd'], 'salary': [1200, 1800, 2200]}

###using dict I will prepare data and will give to pandas library

In [1]:
a={'Age':[30,40,50],'loc':['chennai','banglore','hyd'],'salary':[1200,1800,2200]}
import pandas as pd
pd.DataFrame(a) #giving  prepared data to pandas

   Age       loc  salary
0   30   chennai    1200
1   40  banglore    1800
2   50       hyd    2200

In [ ]:
a={'Age':[30,40,50],'loc':['chennai','banglore','hyd'],'salary':[1200,1800,2200]}
import pandas as pd
pd.DataFrame(a) #giving  prepared data to pandas

   Age       loc  salary
0   30   chennai    1200
1   40  banglore    1800
2   50       hyd    2200

In [ ]:
a={'Age':[30,40,50],'loc':['chennai','banglore','hyd'],'salary':[1200,1800]}
import pandas as pd
pd.DataFrame(a) #giving  prepared data to pandas

ValueError: All arrays must be of the same length

In [ ]:
#In dict values can be anything
a={'Age':30,'salary':55.55,'loc':'hyd','pincode':(500085),'state':['Telangana'],'data':{1,2,3}}
print(a)

{'Age': 30, 'salary': 55.55, 'loc': 'hyd', 'pincode': 500085, 'state': ['Telangana'], 'data': {1, 2, 3}}

In [ ]:
#mutable types are not allowed in dict as a key
a={1:500,2.2:800,'loc':'hyd'}
print(a)

{1: 500, 2.2: 800, 'loc': 'hyd'}

In [ ]:
a={1:500,2.2:800,'loc':'hyd','pincode':(500085)}
print(a)

{1: 500, 2.2: 800, 'loc': 'hyd', 'pincode': 500085}

In [ ]:
#error if we give list(mutables) as key
a={1:500,2.2:800,'loc':'hyd',['pincode']:(500085)}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
a={'Age':30,'loc':'chennai','salary':1200}
print(a)

{'Age': 30, 'loc': 'chennai', 'salary': 1200}

#There is no index concept in dictionary because we have column name,serial number, it has index when we convert into pandas

In [ ]:
#how to call in dictionary
a={'Age':30,'loc':'chennai','salary':1200}
print(a)
print(a['salary'])

{'Age': 30, 'loc': 'chennai', 'salary': 1200}
1200

In [ ]:
#what if to call multiple values
a={'Age':[30,40,50],'loc':['chennai','banglore','hyd'],'salary':[1200,1800,2200]}
print(a)
print(a['loc'])

{'Age': [30, 40, 50], 'loc': ['chennai', 'banglore', 'hyd'], 'salary': [1200, 1800, 2200]}
['chennai', 'banglore', 'hyd']

In [ ]:
print(a['loc'])

['chennai', 'banglore', 'hyd']

In [ ]:
print(a['loc'][1])

banglore

In [ ]:
print(a['loc'][1:])

['banglore', 'hyd']

In [ ]:
print(a['loc','Age'])

KeyError: ('loc', 'Age')

In [ ]:
print(a['Age'])

[30, 40, 50]

##Dictionary is a mutable or immutable?

In [ ]:
#add
#delete
fruits={'apple':500,'carrot':100}
print(fruits)

{'apple': 500, 'carrot': 100}

In [ ]:
fruits={'apple':500,'carrot':100}
print(f'Before adding={fruits}')
fruits['apple']=1000
print(f'after adding={fruits}')

Before adding={'apple': 500, 'carrot': 100}
after adding={'apple': 1000, 'carrot': 100}

In [ ]:
a={'apple':500,'carrot':100}
print(f'Before adding={a}')
a['apple']=1000 #override
print(f'after adding={a}')

Before adding={'apple': 500, 'carrot': 100}
after adding={'apple': 1000, 'carrot': 100}

In [ ]:
fruits={'apple':500,'carrot':100}
print(f'Before adding={fruits}')
fruits['banana']=1000
print(f'after adding={fruits}')

Before adding={'apple': 500, 'carrot': 100}
after adding={'apple': 500, 'carrot': 100, 'banana': 1000}

In [ ]:
#fill an empty dict
fruits={}
print(fruits)
fruits['apple']=900
fruits['grapes']=200
print(fruits)

{}
{'apple': 900, 'grapes': 200}

In [ ]:
#deleting
b={'apple':500,'carrot':100,'banana':1000}
print(f'before deleting={b}')
del b['carrot']
print(f'after deleting={b}')

before deleting={'apple': 500, 'carrot': 100, 'banana': 1000}
after deleting={'apple': 500, 'banana': 1000}

From these operations we can say that dict is **mutable**

##Dictionary Built_in_functions
get

update

pop

popitem

key

value

items

clear

copy

In [ ]:
#get->used to call the required data from the existing dict
b={'apple':500,'carrot':100,'banana':1000}
print(b['carrot'])

100

In [ ]:
#by using built_in_functions
b={'apple':500,'carrot':100,'banana':1000}
print(b.get('carrot'))

100

In [ ]:
#update->which is used to add key-value to the existing dict
b={'apple':500,'carrot':100,'banana':1000}
b['grapes']=200
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000, 'grapes': 200}

In [ ]:
#update->which is used to add key-value to the existing dict
b={'apple':500,'carrot':100,'banana':1000}
b.update({'grapes':200})
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000, 'grapes': 200}

In [ ]:
#pop->will take key from the user and will remove that key-value
b={'apple':500,'carrot':100,'banana':1000}
b.pop('carrot')
print(b)

{'apple': 500, 'banana': 1000}

In [ ]:
#popitem->will remove last key-value
b={'apple':500,'carrot':100,'banana':1000}
b.popitem()
print(b)

{'apple': 500, 'carrot': 100}

In [ ]:
#key
b={'apple':500,'carrot':100,'banana':1000}
print(b.keys())

dict_keys(['apple', 'carrot', 'banana'])

In [ ]:
#values
#key
b={'apple':500,'carrot':100,'banana':1000}
print(b.values())

dict_values([500, 100, 1000])

In [ ]:
b={'apple':500,'carrot':100,'banana':1000}
print(b.items())

dict_items([('apple', 500), ('carrot', 100), ('banana', 1000)])

In [ ]:
#clear
b={'apple':500,'carrot':100,'banana':1000}
b.clear()
print(b)

{}

In [ ]:
#copy
#deep copy
#shallow copy

#deep copy
b={'apple':500,'carrot':100,'banana':1000}
a=b
print(a)
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000}
{'apple': 500, 'carrot': 100, 'banana': 1000}

In [ ]:
#shallow copy

a={'apple':500,'carrot':100,'banana':1000}
a=b.copy()
print(a)
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000}
{'apple': 500, 'carrot': 100, 'banana': 1000}

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a['loc'])

200

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.get('apple'))

100

In [ ]:
a={'apple':100,'loc':200,'banana':300}
a.update({'grapes':400})
print(a)

{'apple': 100, 'loc': 200, 'banana': 300, 'grapes': 400}

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.pop('apple'))

100

In [ ]:
a={'apple':100,'loc':200,'banana':300}
a.popitem()
print(a)

{'apple': 100, 'loc': 200}

In [ ]:
a={'apple':100,'loc':200,'banana':300}
a.update({'grapes':400})
print(a)

In [ ]:
a={'apple':100,'loc':200,'banana':300}
a.clear()
print(a)

{}

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.keys())

dict_keys(['apple', 'loc', 'banana'])

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.values())

dict_values([100, 200, 300])

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.items())

dict_items([('apple', 100), ('loc', 200), ('banana', 300)])

In [ ]:
a={'apple':100,'loc':200,'banana':300}
print(a.get('loc'))
#print(a)

200

In [ ]:
a.update({'grapes':800})
print(a)

{'apple': 100, 'loc': 200, 'banana': 300, 'grapes': 800}

In [ ]:
a={'apple':100,'loc':500}
a.pop('loc')
print(a)

{'apple': 100}

In [ ]:
a.popitem()
print(a)

{}