**Relation with print and variables**

- `Rule_1:Using ,(comma) we can add one data type inside the print with the other data type and also comma will give one tab space.

In [ ]:
a=27
print('my age is',a)

my age is 27

In [ ]:
a=27
print('my age is',a)

my age is 27

In [ ]:
a=45
b='USA'
c=90.22
print('I am at the age of',a,'staying in',b,'and earning',c,'thousand dollars per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollars per year

Before the second technique we need to know type conversions

**TYPE CONVERSIONS OR TYPE CASTING**

**int -> float and int -> str**

**float -> int and float -> str**

**str -> int and str -> float**

These are 6 possibilities

In [ ]:
# int -> float
a=25
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

25
<class 'int'>
25.0
<class 'float'>

In [ ]:
# int -> str
a=25
print(a)
print(type(a))

b=str(a)
print(b)
print(type(b))

25
<class 'int'>
25
<class 'str'>

In [ ]:
f='56'
print(f)

56

In [ ]:
f='56'
print(type(f))

<class 'str'>

In [ ]:
f=56
str(f)

'56'

Here it prints as int but it is a str in memory because it is stored in a variable 'g'.

In [ ]:
f='56'
g=str(f)
print(g)
print(type(g))

56
<class 'str'>

In [ ]:
# float -> int
a=25.55
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

25.55
<class 'float'>
25
<class 'int'>

In [ ]:
#float -> str
a=25.55
print(a)
print(type(a))

b=str(a)
print(b)
print(type(b))

25.55
<class 'float'>
25.55
<class 'str'>

**The str changes to int and float when quotes contain a num , if quotes contain any string like sai123 it cant convert to convert it needs nltk-natural language tool kit.**

In [ ]:
#str -> int
a='123'
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

123
<class 'str'>
123
<class 'int'>

In [ ]:
#str -> float
a='123.45'
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

123.45
<class 'str'>
123.45
<class 'float'>

In [ ]:
#str -> int
a='sai123'
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

sai123
<class 'str'>

ValueError: invalid literal for int() with base 10: 'sai123'

In [ ]:
#str -> float
a='sai123.45'
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

sai123.45
<class 'str'>

ValueError: could not convert string to float: 'sai123.45'

- `Rule_2:Using **+** we can add str data type along with given variables but make sure that variables are also string -> and + operator  wont give one tab space.

str is added with string only.

In [ ]:
a=27
print('my age is '+str(a))

my age is 27

In [ ]:
a=45
b='USA'
c=90.22
print('I am at the age of '+str(a)+' staying in '+b+' and earning '+str(c)+' thousand dollars per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollars per year

- `Rule_2: Using Identifiers->

int->%d  and  float->%f and str->%s

In [ ]:
a=25
print('my age is %d'%a)

my age is 25

In [ ]:
a=45
b='USA'
c=90.22
print('I am at the age of %d staying in %s and earning %f thousand dollars per year'%(a,b,c))

I am at the age of 45 staying in USA and earning 90.220000 thousand dollars per year

**Here we need to give correct data types like int means %d that is for example a=45**

In [ ]:
a=45
b='USA'
c=90.22
print('I am at the age of %d staying in %s and earning %f thousand dollars per year'%(b,c,a))

TypeError: %d format: a real number is required, not str

- `Rule_4: Using {} and f function

if f see anything in flower braces it prints which is in {}

In [ ]:
a=25
print(f'my age is {a}')

my age is 25

In [ ]:
a=45
b='USA'
C=90.22
print(f'I am at the age of {a} staying in {b} and earning {c} thousand dollars per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollars per year

In [ ]:
a=25
print('my age is',str(a))

my age is 25

In [ ]:
a=25
print('my age is '+str(a))

my age is 25

In [ ]:
a=25
print('my age is %d'%a)

my age is 25

In [ ]:
a=25
print(f'my age is {a}')

my age is 25

In [ ]:
a=25
print('25'+str(a))

2525

In [ ]:
a=25
print(25,a)

25 25

In [ ]:
a=25
print('25',a)

25 25

In [ ]:
a=23
print('my roll num is',a)

my roll num is 23

In [ ]:
a=25
print('my roll num is '+str(a))

my roll num is 25