#list->
memory allocation

indexing

slicing

skipping

Python list is going to represent with ->**[ ]**

Python list is going to accept any data type ->int|float|string|boolean

In [ ]:
a=[10,55.55,'data']
print(a)

[10, 55.55, 'data']

#Index

In [ ]:
a=[10,55.55,'data']
print(a[0])

10

In [ ]:
a=[10,55.55,'data']
print(a[2])

data

#Slicing

In [ ]:
print(a[0:3])

[10, 55.55, 'data']

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1:8])

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(a[::2])

[1, 3, 5, 7, 9]

#Skipping

In [ ]:
print(a[::3])

[1, 4, 7, 10]

#Mutable or Immutable
list can be modified,replaced....
list is mutable.

In [ ]:
#add
a=[10,50,2,13]
a[4]=500
print(a)

IndexError: list assignment index out of range

##Using index it is not possible to do adding or deleting in the memory for list concept->in that case please use list Built_in_functions

#python built_in_functions
##addition
- `append
- `extend
- `insert
##Deletion
- `pop
- `remove
##Some other activities
- `count
- `index
- `copy
- `clear
- `sort
- `reverse

In [ ]:
#append->it will take single value from the user and will add to the existing list only at the end
a=[10,50,3,13]
a.append(500)
print(a)
#we cant append two values a.append(500,200) output:error

[10, 50, 3, 13, 500]

In [ ]:
#extend->it will take multiple values from the user and will add to the existing list only at the end
a=[10,50,3,13]
a.extend([1,2])
print(a)

[10, 50, 3, 13, 1, 2]

In [ ]:
#insert->we can add values where ever we want
a.insert(2,500)
print(a)

[10, 50, 500, 3, 13, 1, 2]

In [ ]:
a=[10,50,3,13]
a.insert(2,200)
print(a)

[10, 50, 200, 3, 13]

In [ ]:
#for deleting
#pop->pop will remove last value defaultly but if we pass a number it will treat like index
a=[10,50,3,13]
a.pop()
print(a)

[10, 50, 3]

In [ ]:
a=[10,50,3,13]
a.pop(2)
print(a)

[10, 50, 13]

In [ ]:
a=[10,50,3,13]
a.pop(0)
print(a)

[50, 3, 13]

In [ ]:
#remove->will take value directly and remove the value
a=[10,50,3,13]
a.remove(10)
print(a)

[50, 3, 13]

In [ ]:
a=[10,50,3,13]
a.remove(13)
print(a)

[10, 50, 3]

#From the above points we can say that list is mutable

In [ ]:
#replace
a=[10,50,3,13]
a[1]=5
print(a)

[10, 5, 3, 13]

In [ ]:
#count->used to count the values
a=[1,2,3,4,5,1,3,4,1,45,3]
print(a.count(1))

3

In [ ]:
#index->used to find the given value
a=[1,2,3,4,5,1,3,4,1,45,3]
print(a.index(1))

0

In [ ]:
a=[1,2,3,4,5]
print(a.index(5))

4

In [ ]:
#del
a=[1,2,3,4]
del a[2]
print(a)

[1, 2, 4]

In [ ]:
#del
a=[1,2,3,4]
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
#clear->it is used to clear the data fom the variable but variable will be alive in the memory,the data which is in variable tha is cleared
a=[1,2,3,4]
a.clear()
print(a)

[]

In [ ]:
#copy->there are two types of copy techniques
#1.deep copy
#2.shallow copy

#deep copy
a=[1,2,3,4]
b=a
print(a)
print(b)
a.append(5)

print(id(a))
print(id(b))

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
132151989868416
132151989868416
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#shallow copy->after copying if we add it it wont add to b bcz it has diff address
a=[1,2,3,4]
b=a.copy()
print(a)
print(b)

print(id(a))
print(id(b))
a.append(5)

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
132151989863296
132151989666432
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [ ]:
#reverse->[::-1]
a=[1,2,3,4]
a.reverse()
print(a)

[4, 3, 2, 1]

In [ ]:
#sort->ascending and descending order
#default is ascending order
a=[1,3,6,2,86,7]
a.sort()
print(a)

[1, 2, 3, 6, 7, 86]

In [ ]:
#descending order
a=[1,3,6,2,86,7]
a.sort(reverse=True)
print(a)

[86, 7, 6, 3, 2, 1]