#Tuple->**()**user can pass anything inside the tuple ->int|float|string|boolean

#indexing|memory allocation|slicing|skipping| are same like strings and list only

In [ ]:
a='data'
print(type(a))

<class 'str'>

In [ ]:
a=[10,55.55,'data']
print(type(a))

<class 'list'>

In [ ]:
a=(10,20,30,40)
print(type(a))

<class 'tuple'>

In [ ]:
a=(10,55.66,'python')
print(type(a))

<class 'tuple'>

In [ ]:
#indexing
print(a[0])

10

In [ ]:
print(a[2])

python

In [ ]:
#slicing
a=[1,3,4,2,5,7]
print(a[2:6])

[4, 2, 5, 7]

In [ ]:
print(a[:])

[1, 3, 4, 2, 5, 7]

In [ ]:
print(a[::-1])

[7, 5, 2, 4, 3, 1]

In [ ]:
#skipping
a=[10,50,3,12,23,4,5,2]
print(a[::3])

[10, 12, 5]

#Tuple is mutable or immutable

It is immutable

To prove a concept is mutable or immutable we need to check 2 conditions

->try to increase the memory space

->try to decrease the memory space

In [ ]:
#add
a=(10,20,30,40,50)
a[5]=500
print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#del
a=(10,20,30,40,50)
del a[0]
print(a)

TypeError: 'tuple' object doesn't support item deletion

#Tuple Built_in_functions
there are 2 built_in_functions

1.count

2.index

In [ ]:
#count
a=(10,20,10,30,40,30,50)
print(a.count(10))

2

In [ ]:
a=(10,20,10,30,40,30,50)
print(a.count(30))

2

In [ ]:
#index
a=(10,20,10,30,40,30,50)
print(a.index(10))

0

#why tuple?
##bcz for a single variable we can pass only a single value

In [ ]:
#if we give more than one value then it automatically converted to tuple
a=100,200
print(a)

(100, 200)

In [ ]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

#Split and join  built_in_functions

In [ ]:
#split->string is convert to list in split function
#split->divides the data
a='I love my country'
b=a.split()
print(b)
#when ever it see space it split the data and become as a list

['I', 'love', 'my', 'country']

In [ ]:
a='I love my.country'
b=a.split('.')
print(b)

['I love my', 'country']

In [ ]:
#join->used to join the data
#here list is converted to string
a=['usa','uk','paris','canada']
b=''.join(a)
print(b)

usaukpariscanada

In [ ]:
a=['usa','uk','paris','canada']
b=' '.join(a)
print(b)

usa uk paris canada

In [ ]:
a=['usa','uk','paris','canada']
b='.'.join(a)
print(b)

usa.uk.paris.canada

In [ ]:
a=['usa','uk','paris','canada']
b='->'.join(a)
print(b)

usa->uk->paris->canada

In [ ]:
a='i.love.programming.language'
b=a.split('.')
print(b)
c=b[::-1]
print(c)
d='.'.join(c)
print(d)

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language.programming.love.i

In [ ]:
'.'.join('i.love.programming.language'.split('.')[::-1])

'language.programming.love.i'

In [ ]:
a='i.love.programming.language'
b=a.split('.')
print(b)

['i', 'love', 'programming', 'language']

In [ ]:
a='i.love.programming.language'
b=a.split('.')
print(b)
c=b[::-1]
print(c)
d='.'.join(c)
print(d)

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language.programming.love.i

In [ ]:
a='i.love.my.country'
b=a.split('.')
print(b)
c=b[::-1]
print(c)
d='.'.join(c)
print(d)

['i', 'love', 'my', 'country']
['country', 'my', 'love', 'i']
country.my.love.i